.candidateProfileContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  background-color: white;
  margin-right: 3%;
  flex-direction: column;
}
.candidateProfileHeader {
  width: 100%;
  display: flex;
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.candidateProfileImgNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: auto;
  gap: 30px;
  background-color: white;
}
.candidateProfileImage {
  width: 40px;
  height: 40px;
}
.candidateProfileName {
  font-size: 20px;
  width: auto;

  font-weight: 500;
}
.candidateProfileStatusDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  width: auto;
  height: 30px;
  background-color: rgba(255, 160, 122, 0.324);
}

.candidateProfileStatusShortlistedDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  width: auto;
  height: 30px;
  background-color: rgba(40, 255, 79, 0.227);
}

.candidateProfileStatus {
  font-size: 15px;
  font-weight: 500;
  color: lightsalmon;
}

.candidateProfileStatusShortlisted {
  font-size: 15px;
  font-weight: 500;
  color: lightgreen;
}

.candidateProfileHeaderFunctions {
  background-color: lightgreen;
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.candidateProfileRankContainer {
  height: 120px;
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.candidateProfileRankDiv {
  width: auto;
  height: 60px;
  display: flex;
  margin-left: 2%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.candidateProfileRank {
  font-weight: 500;
  font-size: 13px;
  color: gray;
}
.candidateProfileRankNumber {
  font-weight: 500;
  font-size: 35px;
}
.candidateProfileTotalRank {
  font-size: 18px;
  font-weight: 500;
}
.candidateProfileTestTimeContainer {
  height: 210px;
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.candidateProfileTestTimeText {
  font-size: 20px;
  font-weight: 500;
  margin-left: 1%;
}
.candidateProfileTestTimeDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  width: 80%;
}
.candidateProfileKeyObservationContainer,
.candidateProfileAboutContainer,
.candidateProfileSubmissionReportContainer {
  height: 400px;
  width: 100%;
  margin-top: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.candidateProfileAboutContainer {
  height: 300px;
}
.candidateProfileSubmissionReportContainer {
  height: auto;
  margin-bottom: 2%;
}

.candidateProfileKeyObservationDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;

  width: 85%;
}
.TabsSwitchedDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid lightgray;
  height: 150px;
  background-color: white;
  width: 350px;
}
.TabsSwitchedHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  background-color: rgba(236, 236, 236, 0.936);
  height: 50px;
  width: 98%;
  font-size: 18px;
  font-weight: 500;
}
.codeQualtiyScore {
  background-color: white;
  height: 25px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  border-radius: 25px;
  border: 1px solid lightgray;
}
.TabsSwitchBody {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 2%;
  background-color: white;
  height: 100px;
  width: 98%;
  font-size: 13px;
  color: gray;
  font-weight: 500;
}
.candidateProfileAboutHeader {
  display: flex;
  align-items: center;
  width: 98%;
  justify-content: space-between;
}
.candidateProfileAboutBody {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 230px;
  padding-left: 1%;
}
.candidateProfileAboutPic {
  height: 100px;
  width: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.candidateProfileAboutImage {
  background-color: gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.candidateProfileAboutDetailsDiv {
  height: auto;
  width: 85%;
  gap: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.candidateProfileAboutDetails {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  width: 45%;
  height: 60px;

  background-color: white;
}
.candidateProfileSubmissionReportTable {
  width: 97%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.candidateProfileSubmissionReportTableHeader,
.candidateProfileSubmissionReportTableQuestion {
  height: 60px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.391);

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.candidateProfileSubmissionReportTableHeader {
  border: 1px solid lightgray;
}

.candidateProfileSubmissionReportTableBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
  border-top: none;
}

.candidateProfileSubmissionReportTableQuestion {
  border-top: none;
  background-color: white;
}

.candidateProfileSubmissionQuestions {
  width: 55%;
}
.candidateProfileSubmissionReportQuestionDetails {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: auto;
  background-color: white;
}
.candidateProfileSubmissionReportQuestionTable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  gap: 30px;
  height: 60px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.candidateProfileSubmissionReportQuestionTableScore,
.candidateProfileSubmissionReportQuestionTableResult,
.candidateProfileSubmissionReportQuestionTableSubmitted {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100px;
  height: 60px;
  background-color: white;
  font-weight: 500;
}
.candidateProfileSubmissionReportQuestionTableResult {
  width: auto;
}
.candidateProfileSubmissionReportQuestionTableSubmitted {
  width: 200px;
}
