.viewQuestionModalHeader {
  height: 80px;
  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.viewCategoryQuestionText,
.viewQuestionModalDescriptionText {
  font-size: 23px;
  font-weight: 500;
}

.editQuestionButton {
  width: 180px;
  height: 40px;
  border: 1px solid #0071c5;
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
  cursor: pointer;
  color: #0071c5;
  border-radius: 10px;
  font-size: 20px;
}
.viewQuestionModalBody {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 80vh;
  background-color: #0071c5;
  width: 95%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.viewQuestionModalDescription {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.viewQuestionModalDescriptionDetails {
  display: flex;
  align-items: flex-start;
  height: auto;
  justify-content: space-between;
  width: 100%;
}
.viewrichTextEditor,
.viewproblemName {
  font-size: 18px;
  color: gray;
  font-weight: 400;
}
.viewdifficultyLevelDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  width: 100%;
}
.viewquestionLevel {
  font-size: 22px;
}

.descriptionViewLeftContainer,
.descriptionViewRightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  margin-top: 5%;
  padding-left: 1%;
  margin-bottom: 10%;
  width: 65%;
}
.descriptionViewRightContainer {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.viewMaxScore {
  font-size: 30px;
  font-weight: 400;
}
.viewQuestionModalSolutionandTestCase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: white;
  margin-bottom: 2%;
}
.viewQuestionModalSolutionandTestCaseSampleDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  margin-top: 5%;

  width: 100%;
}
.viewQuestionModalSolutionandTestCaseSampleLeftContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;

  background-color: white;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  width: 30%;
}
.viewQuestionModalSolutionandTestCaseSampleRightContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  background-color: white;
  width: 60%;
  padding-right: 1%;
  font-size: 20px;
  font-weight: 500;
}
.viewSampleInput {
  margin-top: 5%;
  font-weight: 400;
  color: gray;
}

.viewTestCaseTable {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 950px;
  margin-top: 3%;
  height: auto;
  background-color: beige;
}
.viewTestCaseTableRows,
.viewTestCaseTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
  margin-top: 1%;
  height: 60px;

  background-color: white;
}
